/* Body */

body {
  margin: -1% 0 0 0;
  min-height: 100%;
  font-family: 'Delicious Handrawn', cursive;
  color: #fff;
  text-shadow: 2px 0px #941399;
  padding-bottom: 1%;
}

/* Header */

header {
  text-align: center;
  padding: 20px 0;
  height: 15vh;
  letter-spacing: 3px;
  font-size: 37px;
}
h1 {
  margin: 0;
}
#catgif {
  position: fixed;
  right: 0;
  top: 0;
  z-index: -100;
}
.gradient-background {
  background: linear-gradient(83deg, #941399, #bf9bc0, #e722af);
  background-size: 180% 180%;
  -webkit-animation: gradient-animation 12s ease infinite;
  animation: gradient-animation 12s ease infinite;
}

@-webkit-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Div flex and sections inside*/
section {
  background-color: #f0f0f0;
  flex: 1; /* Rozciąganie sekcji, aby były równe */
  padding: 10px 20px;
}
.menu {
  background-color: transparent;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  font-size: 35px;
}
.menu h2 {
  margin: 0;
  padding: 0;
}
.color-picker {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 99px;
}

#colorInput {
  height: 50%;
}

.flex button {
  height: 50px;
  width: 47%;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid #941399;
  font-family: 'Comic Neue', cursive;
  color: #470e49;
  font-size: 18px;
  background-color: #f2b3eb;
}
.flex button:hover {
  box-shadow: 1px 1px 5px #470e49;
}
.rainbow {
  background-image: url('images/rainbow.png');
}

.empty-space {
  background-color: transparent;
}

#audio {
  position: fixed;
  right: 2vw;
  bottom: 5vh;
  width: 20%;
}

div.flex {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 21vh);
}

/* board */
.board {
  flex: 2;
  display: flex;
  padding: 0;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.board div {
  width: 10px;
  height: 10px;
  margin: 0;
}

/* media query for smaller screens */

@media (max-width: 910px) {
  div.flex {
    flex-direction: column;
  }
  .board {
    position: absolute;
    height: 80vh;
    top: 90%;
    left: 1%;
    width: 96vw;
  }
  body {
    height: 150vh;
  }
  .menu {
    padding-top: 5vh;
    height: 50vh;
    position: relative;
  }
  h1 {
    text-decoration: underline;
  }
  .menu button {
    line-height: 8vh;
  }
  .color-picker button {
    width: 90%;
    padding: 0 30px;
  }
  #audio {
    width: 25%;
    background-color: #e722af;
    padding: 10px;
  }
}
